<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
                <h3 class="name">Student Name</h3>
        </li>
        <li>
            <a ui-sref="student.profile">Profile</a>
        </li>
        <li>
            <a ui-sref="student.search">Search Internship</a>
        </li>
        <li>
            <a ui-sref="student.applications">Applications</a>
        </li>
        <li>
            <a ui-sref="student.schedules">Schedules</a>
        </li>
        <li>
            <a ui-sref="student.timecard">Timecard</a>
        </li>
        <li>
            <a ui-sref="index">Log-Out</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper" style="margin-left:250px;">
    <div class="container-fluid">
            <ui-view></ui-view> 
    </div>
</div>
<!-- /#page-content-wrapper -->