<nav class="navbar navbar-default" style="margin-bottom:0px">
    <div class="container">
        <div class="navbar-header"><a href="#" class="navbar-brand navbar-link">Intern-On </a>
            <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation" class="active"><a href="#">Services </a></li>
                <li role="presentation"><a ui-sref="supervisor.profile">Login </a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">

</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6>Copyright ©Intern-On 2016 </h6></div>
            <div class="col-md-6">
                <h6 class="text-right">Team Noobie | AMIT | Far Eastern University </h6></div>
        </div>
    </div>
</footer>